# Diretórios de build do Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Exceções para builds dentro de src (se realmente precisar desses builds dentro de src)
/**/src/main/**/target/
/**/src/test/**/target/
/**/src/main/**/build/
/**/src/test/**/build/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Ignorar configurações específicas que não precisam no VCS
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/

# Eclipse
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Arquivos do macOS
.DS_Store

# Kotlin build cache (se usar Kotlin)
/.kotlin/
